<div class="flex items-center justify-center">
  <div class="pr-36">
    <img src="/images/login/login-image.svg" alt="Ilustración">
  </div>
  <div class="bg-white rounded-3xl shadow-lg w-xl h-3/5 p-8 flex flex-col items-center">
    <div class="mb-4">
      <img src="/images/login/GDA-logo.svg" alt="Logo GDA"/>
    </div>

    <h2 class="text-2xl font-bold text-gray-800 mb-2">
      ¿Olvidaste tu contraseña?
    </h2>

    <p class="text-sm text-gray-600 text-center mb-5">
      Ingresá tu email y te enviaremos un email para que pueda restablecer contraseña
    </p>

    <form class="w-full">
      <label class="w-full text-sm font-medium text-gray-600 mb-1">Email</label>
      <input 
        type="email"
        placeholder="Ingrese el email"
        class="w-full border border-gray-300 rounded-lg placeholder-opacity-50 text-black placeholder-[#6C6C6C] p-3 py-2 mb-6" />

      <button type="submit" class="w-full bg-gray-700 text-white py-3 rounded-lg hover:bg-gray-900 mb-4">
        Recuperar contraseña
      </button>

      <button type="button" class="w-full bg-gray-200 text-gray-700 py-3 rounded-lg hover:bg-gray-300" (click)="goToLogin()">
        Cancelar
      </button>
    </form>
  </div>
</div>
