<div class="p-6 bg-white rounded-xl shadow-md mt-6 ">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-bold">Lista de usuarios</h2>
      <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Buscar usuario" [(ngModel)]="searchValue" />
    </span>
    </div>

    <p-table
      [value]="usuarios"
      [paginator]="true"
      [rows]="5"
      [globalFilterFields]="['nombre','apellido','dni','email','bateria','codigo']"
      [rowsPerPageOptions]="[5,10,20]"
      [filterDelay]="0"
      [filters]="{ global: { value: searchValue, matchMode: 'contains' } }"
      class="shadow rounded-xl overflow-hidden"
    >
      <ng-template pTemplate="header">
        <tr class="bg-gray-50">
          <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
          <th pSortableColumn="apellido">Apellido <p-sortIcon field="apellido"></p-sortIcon></th>
          <th pSortableColumn="dni">DNI <p-sortIcon field="dni"></p-sortIcon></th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="bateria">Última batería <p-sortIcon field="bateria"></p-sortIcon></th>
          <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user>
        <tr class="hover:bg-gray-100">
          <td>{{ user.nombre }}</td>
          <td>{{ user.apellido }}</td>
          <td>{{ user.dni }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.bateria }}</td>
          <td>{{ user.codigo }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
