@import "tailwindcss";
@import "primeicons/primeicons.css";

* {
  font-family: Inter, serif;
}

:root {
  --color-primary: #3E4148;
  --color-secondary: #abcdef;
  --color-dashboard: #f2f2f2;
  --p-breadcrumb-background: var(--color-dashboard) !important;
  --p-breadcrumb-padding: 0 !important;
}

.color-fondo-dashboard {
  background-color: var(--color-dashboard);
}

.color-fondo {
  background-color: var(--color-primary);
}
