@import "tailwindcss";
@import "primeicons/primeicons.css";

* {
  font-family: Inter, serif;
}

:root {
  --color-primary: #3E4148;
  --color-secondary: #abcdef;
  --color-dashboard: #f2f4f8;
  --p-breadcrumb-background: var(--color-dashboard) !important;
  --p-breadcrumb-padding: 0 !important;
}

.color-fondo-dashboard {
  background-color: var(--color-dashboard);
}

.color-fondo {
  background-color: var(--color-primary);
}

.loader-bg {
  position: fixed;            /* fijo en toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);   /* blur para difuminar fondo */
  background-color: rgba(30, 30, 30, 0.5); /* gris translúcido */
  display: flex;               /* activamos flexbox */
  align-items: center;         /* centra verticalmente */
  justify-content: center;     /* centra horizontalmente */
  z-index: 999999 !important;

  /* por encima del nav y contenido */
}