<div
  class="grid grid-cols-6 items-center bg-white border border-gray-200 rounded-lg shadow-sm p-10 gap-6 hover:bg-gray-50 w-full"
>
  <!-- Contenido principal izquierdo - 4 columnas -->
  <div class="col-span-4">
    <h1 class="text-5xl font-bold text-[#3E4148] mb-2">
      ¡Te damos la bienvenida a GDA!
    </h1>
    <p class="text-[#3E4148] text-2xl">
      Analizá el uso de tu batería ITHURBIDE
    </p>
  </div>

  <!-- Imagen derecha - 2 columnas -->
  <div class="col-span-2 flex justify-center">
    <img
      class="h-24 w-auto object-contain"
      src="/images/welcome-card/welcome-card.svg"
      alt="Welcome illustration"
    />
  </div>
</div>
